<h2>Welcome to the Student's Pannel </h2><%= @roll %>
<div class="notice">



<%= link_to("ADD NEW SUBJECT",{:action => 'subject_choice'},:class => 'create-subject') %>
</div>
<div class="notice"



<%= link_to("",{:action => 'show_subject'},:class => 'create-subject') %>
<%= link_to("Show Subjects",{:action => 'show_subject'},:class => 'create-subject') %>
</div>


<%= link_to 'LOGOUT',{:controller=>'signups',:action => 'haider'}, method: :post %>